@import "home.scss";
@import "variables.scss";

.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  color: white;
  h1,h2,h3,h4 {
    font-family: 'Roboto Mono', monospace;
  }
}
// Main vertical left navigation
#nav_bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo img {
      max-width: 50px;
      margin-top: 8px;
    }
}
/* main page */
#page {
    background-color: $backgroundColor;
    background: $backgroundColor url('/assets/images/background90s.svg')no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    .container {
        width: 100%;
        will-change: contents;
        height: 90%;
        min-height: 566px;
        position: absolute;
        top: 5%;
        margin: 0 auto;
        z-index: 1;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

// Tablet Responsive
@media (max-width: $tabletSize ) {
  #nav_bar {
      width: 100%;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      min-height: 0;
      .logo {
        float: left;
        padding: 2px 0;
        margin-left: 20px;
      }
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
