@import "home.scss";
@import "variables.scss";
@import "navbar.scss";
@import "about.scss";
@import "contact.scss";
@import "work.scss";

.App {
  text-align: center;
  color: white;
}
html, body, .App, .App>div {
  margin: 0;
  padding: 0;
  background: $backgroundColor url('/assets/images/background90s-desktop.svg')no-repeat center center;
  background-size: cover;
}
span, p {
  font-family: 'Source-Code-Pro', monospace;
}
h2 {
  font-family: 'Roboto-Mono', monospace;
}

// loader
.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* main page */
#page {
    background-color: $backgroundColor;
    background: $backgroundColor url('/assets/images/background90s-desktop.svg')no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    .container {
        width: 100%;
        will-change: contents;
        height: 90%;
        min-height: 566px;
        position: absolute;
        top: 5%;
        margin: 0 auto;
        z-index: 1;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        padding: 0;
    }
}

//left and right section spacers
.text-col {
  margin-top: 10vh;
  padding-left: 15%;
  text-align: left;
}
.content-col {
  margin-top: 10vh;
}

// Tablet Responsive
@media (max-width: $tabletSize ) {
  #page {
    background: $backgroundColor url('/assets/images/background90s-desktop.svg') no-repeat center center;
    background-size: cover;
    // height: auto;
    // position: relative;
  }
  #nav_bar {
      width: 100%;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      min-height: 0;
      .logo {
        float: left;
        padding: 2px 0;
        margin-left: 20px;
        max-width: 80px;
      }
  }
  .text-col {
    margin-top: 8%;
  }
  .content-col {
      margin-top: 8vh;
  }

}

@media (max-width: $mobileSize) {
  #page {
    background: $backgroundColor url('/assets/images/background90s-mobile.svg')repeat center center;
    background-size: cover;
    height: auto;
    position: relative;
  }
  .container {
    width: 100%;
    height: auto !important;
    padding-bottom: 58px;
    box-sizing: border-box;
    position: relative !important;
    top: 0px;
    overflow: hidden;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
