@import "variables.scss";

.home-page {


  span {
    color:#777;
  }
  h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 34px;
  }
  //svg animation for mobile
  #code path,
  #grid{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 14s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }


}
